.room-box
 {
display: flex;
flex-direction: column;
flex: 0.10px;

}

.room-text
{
   color: black;
   size: small;

}

.room-input
{
    padding: 5px;
    display: flex;
    align-items: center;

    border-top: 1px solid black;
}

.room-input > form 
{
    flex: 1;
    display: flex;
}

.room-input > form  >input
{
    flex: 1;
  border-radius: 30px;
  padding: 10px;
  border: none;
}

.room-input > form > button
{
    display: none;
}

.room-input > form > .MuiSvgIcon-root
{
    padding: 10px;
    color: black;
   
}

